<div class="col-sm-offset-2 col-sm-8 ">
  <div class="panel panel-default transparent">
    <div class="panel-heading " style="opacity: .4">
      <h1 class="panel-title " style="font-size: x-large">
        <i class="fa fa-cogs fa-2x"></i>
        Control Panel
      </h1>
    </div>
    <div class="panel-body ">
<%= render 'common/admin_control' %>
    </div>
  </div>

</div>
