<div class="row ur-rtl">
  <div class="col-md-12">
    <div class="panel panel-default transparent">
      <div class="panel-heading " style="background-color: #c5af59">
        <h3 class="panel-title text-right" style="font-weight: bold;font-size: large;">
          <i class="fa fa-list"></i>
          خدمات

        </h3>
      </div>

      <div class="panel-body panel-bg">
        <div class="row thaed-bt">
          <div class="col-md-12 " style="font-weight: bold;font-size: large;">خدمات</div>
        </div>

        <% n=1 %>
        <% @services.each_with_index do |s, i| %>
            <div class="row data-row2 ">
              <div class="col-md-12" style="font-size: large;"><b class="small-heading " style="margin-left: 10px;"><%= i+n %> -</b> <%= s.urname %>  </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


