<div class="row" style="margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;">
  <div class="col-md-12  footer-bg " style="padding-top: 10px;padding-left: 0px;padding-right: 0px;">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <div class="row">
            <div class="col-md-2" style="padding-left: 60px;">
              <%= image_tag 'bigquran.png' %>
            </div>
            <div class="col-md-10">
              <h4 class="media-heading main-page-heading " style="font-size: large;color: #ffffff;">
                 Important Message:</h4>

              <p  style="color: #e0e0e0;">
                Read Quran online with Tajweed from best Quran tutors at the comfort of your home!. We
                ensure undivided attention of tutor to student. We have both male
                & female teachers. Our teaching staff includes qualified religious scholars, Qaris & hafiz Quran.
              </p>
            </div>


          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
