<div class="row text-right" style="margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;">
  <div class="col-md-12  footer-bg " style="padding-top: 10px;padding-left: 0px;padding-right: 0px;">
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
          <div class="row">
            <div class="col-md-10">
              <h4 class="media-heading main-page-heading ur-rtl " class="" style="font-size: x-large;color: #15ae0b;padding-right: 15px;">
                خاص پیغام:</h4>

              <p class="ur-rtl" style="color: #e0e0e0;padding-right: 15px;">
                قرآن کے بہترین مدرسین سے تجوید کے ساتھ آن لائن اپنے گھر پر قرآن پڑھیں ! ہم استاد کی طالب علم کے لیےمکمل
                توجہ کا یقین دلاتے ہیں۔ہمارے پاس مرد اور خواتین اساتذہ موجود ہیں ۔  ہمارے تدریسی عملےمیں مستند دینی
                علماء، قاری اور حافظ قرآن بھی شامل ہیں ۔
              </p>
            </div>
            <div class="col-md-2" style="padding-right: 60px;">
              <%= image_tag 'bigquran.png' %>

            </div>

          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
